
@page {

}

body {
	font: 12pt;
	line-height: 1.3;
}


.no-print {
	display: none !important;
}

a{
	color: #373a3c;
}

a:after {
content: " (" attr(href) ")";
text-decoration: underline;
}

