<h1>Brief</h1>
<p>This document is the brief for my game. It contains the initial goals I had for the project, as well as the rationale behind them.</p>

<h2>The Context</h2>

<p>I have decided to work on the context of gaming, specifically I want to look into using the relatively new medium of games to help people improve their problem solving and reaction skills, while having fun.</p>

<h2>The Issue</h2>

<p>Video games are a form of art. They can convey messages to a player in a way no other medium can because of their high level of interactability. A good game immerses the user in another world, then challenges them both mentally and physically. These challenges may vary from simple physical challenges such as quick reaction time testing, to challenging the player to make big decisions which may have a huge impact on the world they are invested in, challenging the players ethics and possibly affecting their view of the world.</p>

<p>The modern world moves quickly, and there is a lot of pressure on us all to perform well coming from all directions. Video games can provide a great escape from this busy world, providing people of all ages a place to go where they are free from their real life issues, if only temporarily. They help to releive stress, and are increasingly becoming the go to entertainment source for many people all over the world.</p>

<p>While there is no direct issue that means another video game is required, I feel that many modern games do not properly leverage the power of the medium, opting instead to use violence and quick satisfaction to attract players. I want to make a game which takes more from the player in terms of mental and physical challenge. That means that gamers will be able to have a more enriching, and ultimately more rewarding experience from the game compared to many other titles. While playing the game players should be able to hone their reaction times, work on their problem solving skills and memory, among other things.</p>

<h2>Background</h2>
<p>Modern video games are becoming more and more about instant gratification: “Go here, kill this, you did good!” Case in point: <em>Call of Duty</em>. Call of Duty is an insanely popular game, with very little substance to it. The goal is simply to go and kill people. The characters and backstory are weak afterthoughts, and the game rewards players constantly. Got several kills? Have a reward. Won a game? Have some XP. The list goes on. In recent times there has been shown to be quite a big market for more skill based multiplayer games such as <em>Dota 2</em> or <em>Counter-Strike: Global Offensive</em>. This shows that users are intersted in games which require more time investment and skill, from which they can learn and grow.</p>

<h2>Research</h2>

<p>The video game space is rather packed, and there are a lot of titles from which I can draw inspiration and find ideas.</p>
<h3>Thomas was Alone</h3>
<p><a href="http://www.mikebithellgames.com/thomaswasalone/">Thomas was Alone</a> is an indie puzzle platform game by Mike Bithell. It is based around the idea of a system which contains several self aware <abbr title="Artificial Intelligences">AIs</abbr> which are controled by the player. They are represented on screen as a series of various sized and colored quadrilaterals, each of which has its own unique advantages and disadvantages, for example one might be able to jump higher than others, while another may be able to float on water which is lethal to other cubes.</p>

<div class="row">
	<div class="col-xs-6">
		<div class="card">		
			<div class="card-block">
				<img style="width: 100%" src="img/thomaswasalone-01.jpg">
			</div>
			<div class="card-footer">
				<caption>The first level is simple, getting the player used to the idea of the game.</caption>
			</div>
		</div>
	</div>

	<div class="col-xs-6">
		<div class="card">				
			<div class="card-block">
				<img style="width: 100%" src="img/thomaswasalone-02.jpg">
			</div>
			<div class="card-footer">
				<caption>Later levels introduce the player to harder challenges, and they must control multiple ais to complete them</caption>
			</div>
		</div>
	</div>
</div>

<p>As you can see from these screenshots, the game starts out very easy: there is only one AI, the exit is right in front of the player and there is a helpful tutorial to guide the player through the game. The second screenshot shows a later level, where the AIs must work together to solve a puzzle using their respective abilities. In this case the purple AI had to jump on a high button to create the bridge you see there where the green cube could go across to get to the exit portal he is standing by.
</p>

<p>
	The game was well received by critics and fans alike, receiving a 77 / 100 critic score, and an 8.1 / 10 user score on <a href="http://www.metacritic.com/game/pc/thomas-was-alone">metacritic</a>, and was mostly praised for its great soundtrack and narration, as well as its good game design and "single player co-op" design.
</p>

<table class="table">
	<thead>
		<tr><th>Positives</th><th>Negatives</th></tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<ul>
					<li>The learning curve helps players get used to the rather complex mechanics</li>
					<li>The graphical style is very aestheically pleasing</li>
					<li>The soundtrack is one of the best sound tracks in any game in my opinion</li>
					<li>The variety of AIs means there is always something new to think about, especially when it comes to combining their abilities, eg when you jump on an AI with inverted gravity in order to create a pair that has no gravity as it cancels out</li>
					<li>Due to the last step, the player always needs to be thinking about how the different abilities can work together to be able to solve a problem. This is an important skill in real life too: figuring out who can work well with who to best utilize their abilities is an important part of leadership and problem solving.</li>

				</ul>
			</td>
			<td>
				<ul>
					<li>The levels don't get particularly hard</li>
					<li>There are no scores or different paths, meaning the game has very little replayability</li>
					<li>There are no more advanced challenges: once you have conquered the main game, you have nothing more to do</li>
					<li>Because of the lack of any kind of scoring mechanic there is no competetive side to the game, which means there is less motivation to work on your skills: I am not going to keep on redoing a level to improve my reaction times if I can't get a high score out of it</li>
				</ul>
			</td>
		</tr>
	</tbody>
</table>


<div class="row">
	<div ng-controller="MusicCtrl" class="col-lg-9 card no-print center-block" >
		<div class="card-block row">
			<h4 class="card-title">Thomas was Alone OST</h4>

			<div class="col-sm-5">
				<ul class="nav nav-pills nav-stacked">
					<li class="nav-item" ng-repeat="song in songs">
						<a href class="nav-link" ng-class="{active: isActive($index)}" ng-click="setSong($index)">{{song.title}}</a>
					</li>
				</ul>
			</div>
			<div class="col-sm-7">
				<img style="width: 100%" src="img/thomas-cover.jpg">
				<audio id="player" style="width: 100%" ng-src="{{file}}" autobuffer controls></audio>
			</div>
		</div>
	</div>
</div>

<h3>Portal</h3>
<p><a href="http://store.steampowered.com/app/400/">Portal</a> is a game published by Valve, which was originally a mod for the hugely successful Half Life 2. Like Thomas was Alone, it is a puzzle based game with a lot of fun mechanics. Unlike Thomas was Alone, Portal is a 3D game. It also has an easy learning curve which teaches players how to play, with the first puzzle being: "put the cube on the button", and the concept of portals being introduced by an automatic portal system so the players don't need to work it out themselves.</p>

<p>The basic premise of Portal is that players can place two linked "portals" on many surfaces in a room. Doing this links those two places, allowing the player or objects to pass through them. Momentum is preserved through portals, but translated into the direction of the exit portal meaning players can "fling" themselves and objects through the air.</p>

<p>The game also has an amazing story line, you are in a testing facility for the fictional company Aperture Science, following the directions of an AI named GLaDOS. As you progress through the game you find out that GLaDOS murdered the entire staff of Aperture with deadly neurotoxin, and has similar plans for you. Instead of dying, you manage to escape to her chamber where you fight a final battle against her, althewhile fighting against time as she floods the room with her beloved neurotoxin.</p>

<div class="card no-print">		
	<div class="card-block">
		<video controls src="http://cdn.akamai.steamstatic.com/steam/apps/922/movie480.webm?t=1241745879"></video>
	</div>
	<div class="card-footer">
		<caption>This official promotion video covers the basic idea of Portal, as well as some more complex puzzles.</caption>
	</div>
</div>


<table class="table">
	<thead>
		<tr><th>Positives</th><th>Negatives</th></tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<ul>
					<li>The game has a nice learning curve helping players to understand the complex ideas in the game, such as portals and flinging</li>
					<li>The story is engrossing, which takes the players attention away from the fact that they are playing a puzzle game: It's easier to learn if you are having fun</li>
					<li>There are more advanced versions of some of the test chambers in the game for veterans to test their skill</li>
					<li>There are "challenges", which are the normal maps from the game, but with added challenges for example: "Finish test chamber 03 with as few portals as possible"</li>
				</ul>
			</td>
			<td>
				<ul>
					<li>The game is quite short, especially considering the price tag: $12 is the same price as Half Life 2, but Portal has about 2 hours of gameplay, while HL2 has 15+ hours.</li>
					<li>While there are timed modes and challenge modes, the main mode isn't timed. This means that all the time I put into this I don't get anything to strive for.</li>
					<li>There is no online leaderboards, meaning that I cannot easily compare my scores on each challenge level with my friends, reducing the potential for the competition which could drive me to spend time improving my reactions and finding more efficient routes</li>
					<li>There is no level editor, meaning players cannot add new content to the game</li>
					<li>Like Thomas was Alone, the game goes the same every time, reducing replayability</li>
				</ul>
			</td>
		</tr>
	</tbody>
</table>


<h2>Considerations</h2>
<ol>
	<li>
		<p>
			<strong>Skills</strong>
			It is important that I have the skills required to make the game I decide to make: otherwise I will either be unable to make it, or the quality will be poor. This is why I think it is a good idea to do a 2D game. While I feel confident in my ablitly to program a 3D game, I am much less confident in my ability to do art assets such as 3D models and textures for such a game.
		</p>
	</li>
	<li>
		<p>
			<strong>Time</strong>
			Any complex application is a large undertaking, which can use a lot of time. I am limited in the amount of time I can dedicate to this project with other school work, as well as personal projects and free time. This means that the complexity of the game will need to be relatively low to give me a good chance of finishing it. I need to manage my time effectively to get the best result out of the limited time available.
		</p>
	</li>
	<li>
		<p>
			<strong>Assets</strong>
			Creating a game requires a lot of work other than the technical aspects. I will be focusing on the technical side, but this is only a part of the whole picture. This means that my assessment will be mostly focused on the game engine, rather than the game as a whole. That is because this is being submitted for several technically focused assessments as well as the brief development one.
		</p>
	</li>
	<li>
		<p>
			<strong>Quality Assurance</strong>
			I will have to make sure the game is high quality, which means I need to be able to show I have used testing proceedures throughout the development process in order to ensure the game works well with all manner of input, even if it is incorrect.
		</p>
	</li>
	<li>
		<p>
			<strong>Social Acceptability</strong>
			The game needs to be socially acceptable, which means it needs to have content that is appropriate to the target audience. I should ensure the content of the game is ethically sound in the context of my target audience in order to meet me social responsibility.
		</p>
	</li>
	<li>
		<p>
			<strong>Sustainability</strong>
			Both the resources and the development practises need to be sustainable. I need to ensure I develop the game in a sustainable way. This means that I need to develop in such a way that as the code grows I can continue to build on it efficiently. This also means I should try to reduce the power usage of clients to help with environmental sustainability. 
		</p>
	</li>
	<li>
		<p>
			<strong>Life Cycle</strong>
			I need to consider the full life cycle of the program during development in order to ensure it lasts as long as it should, and to ensure it can be properly maintained after its release. This means I need to ensure everything can be updated, which means putting infrastructure in place to roll out updates to all clients, as well as developing in such a way that updates can be applied without, for example, breaking user created levels. Ultimately the game will trail off into non existance, as with any product. Client versions should continue to function as long as supporting hardware exists, but the game will probably lose its appeal over time, meaning the install base will dwindle. At some point any servers hosting high scores or updates will probably need to be shut down, but other than that no action will need to be taken at the <abbr title="End of Lifetime">EOL</abbr> as there is no centralised software running.
		</p>
	</li>
	<li>
		<p>
			<strong>Health and Safety</strong>
			Games can have some health and safety risks in the long term: playing them for excessive amounts of time can lead to damage to the human body due to repetitive actions and the lack of other activity during play. In order to help prevent the RSI problem, I will ensure the game uses a variety of controls on the keyboard or controller, as well as puzzles which require interaction with the different part. To address both problems I will include a notice with the game reminding users to take regualr breaks. Beyond this I cannot control users behaviour, so it becomes their personal responsibility to avoid complications.
		</p>
	</li>
	<li>
		<p>
			<strong>Ethical Testing</strong>
			I will allow players to test my game on their own terms by sending them builds of the game and allowing them to try them out in their own time, before presenting them with questions which will help me to find the information I need to ensure the game meets all the requirements.
		</p>
	</li>
</ol>

<div>
	<h2>The Proposal</h2>
	<p>I propose that I will make a 2D side scrolling video game which aims to challenge the user on many fronts, from memory, to reaction time, to problem solving. I will perform market research to find the preferred genre and style of a range of gamers (my stakeholders).</p>
</div>

<div>
	<h2>The Stakeholders</h2>
	<p>My game is targeted at gamers in general, and specifically those who enjoy challenging themselves in order to help improve themselves while still having fun with a video game. According to <a target="_blank" href="http://epublications.bond.edu.au/cgi/viewcontent.cgi?article=1098&amp;context=hss_pubs">this document</a>, the average age of a gamer in Australia is 28 years old, while 60% of gamers are male. This, however, accounts for people playing casual games on smartphones and other such devices, and I wish to target my game at a younger audience where the "brain training" aspects will probably have more of an effect on the developing mind.</p>

	<p>Because of this I have decided to specifically target my game at teenage boys who are also gamers. This is an easy market for me to target as myself and much of my peer group belong to it. I also want to game to appeal to the aging gamer and woman gamer markets, but the teenage market is my primary market and therefore I will pick my stakeholders mainly from there.</p>

	<p>I also want my game to be playable by younger audiences (7 - 10), which means I will have to make it age appropriate for them. This means the games dialogue (if any) should avoid any kind of swearing or inapropriate content, while gore in the game should be kept to a reasonably low level compared to other games.</p>

	<h3>Stakeholder Profiles</h3>
	<p>These are the profiles for my specific stakeholders which are people I have chosen from my primary market to represent the average. I have chosen people who intend to use my product in different ways in order to get a wider range of oppinions and feedback so I can better cater to the different groups.</p>

	<ol>
		<li>
			<p>
				<strong>Alfie Hamilton</strong>
				Alfie is a year 10 student at Lincoln High School who is a gamer. He enjoys a variety of games, including <em>Counter Strike: Global Offensive</em> and <em>Dishonored</em>, both of which are skill based games, which puts him right in my target audience: right age, right gender, right game preference.
			</p>
		</li>
		<li>
			<p>
				<strong>Daniel Alexander</strong>
				Daniel is a year 11 student at Lincoln, who is extremely interested in game development, and specifically level design. In the past he has made levels for Counter Strike: Global Offensive, as well as some other games. He is interested in the potential for my game to have a level editor so he can make content for people to play. This means he will have a very different perspective on how the engine should work, and may be able to find different bugs and suggest different features to what a normal gamer would.
			</p>
		</li>
	</ol>
</div>

<h3>Stakeholder meetings</h3>
<p>Before the development, and over the course of it, I had a lot of meetings with my stakeholders. The following sections summarize these meetings.</p>

<h4>Stakeholder Meeting 1 (kind of)</h4>
<p>As well as these key stakeholders, I have got together a group of people who are interested in the game to help me to decide on a variety of factors about the game. I conducted a survey on the <a href="http://blog.abscission.net">game's blog</a>, which asked about peoples preferred settings, as well as the importance of different aspects of the game. Here is a screenshot of the survey:</p>

<img src="http://fs.abscission.net/rilwal/2015-10-09_00-56-54.png">

<p>The results show that people are interested in a cyberpunk themed game, with gameplay trumping story and several other interesting developments. The full results, and my analysis can be found <a href="http://blog.abscission.net/market-research-results/">here</a>.</p>

<p>These results are important as they let me know what my target audience is interested in so I can make the game as attractive as possilbe, in order to get people to play it so they can get the positive benefits of the puzzles and reflex training while still enjoying themselves in the game (allowing it to reach a wider market, who to invest more time, and get more out of it than a game designed purely for education or puzzle solving (for example Portal sold much better than Brain Training)).</p>

<h4>Stakeholder Meeting 2</h4>
<p>I met with Alfie to find out what he would want from a puzzle based platform game set in a cyberpunk universe, and what he thought of the idea in general. He seemed enthusiastic about the setting and general idea. He suggested that I use a pixel are style of graphics, and I agreed that this would look good with the setting, as well as ease the pressure to create super good high resolution graphics, while still preserving the potential for a good aesthetic.</p>

<p>He suggested that the movement system should be "gamey" and "not interfere with the gameplay", unlike some current games such as Arma, Battlefield and Limbo which have "overly realistic movement", which distracts from the core gameplay. This goes back to my initial finding that gamers are more interested that gameplay than story, as it could be argued that realistic movement adds to the story by making it more beleivable. The decision of my stakeholders to prioritize gameplay over story means I will definately make a very gamey movement system, which enhances the gameplay, even if it detracts from the realism eg by allowing the player to jump unrealistically high. This will probably still be explained in the story (eg the player has a jump pack), but the gameplay will be driving the story, rather than the other way round.</p>

<p>When asked what he thought the basic requirements for a 2D platform game were he told me he thinks that there needs to be multilpe levels with clear start and finish points, which need some skills, either mental or physical, to complete.</p>

<h4>Stakeholder Meeting 3</h4>
<p>I spoke with Daniel about what he would want from the game, both in terms of a gamer, and as a level designer. He told me he wants a level editing solution which is both powerful and simple to use. This means I need to expose the most common funcitonality with as few clicks / button presses as possible, but support more complex features via more complex options such as menus.</p>

<p>In terms of the game engine he tells me that he would like support for layered 2D textures on a grid, enemies and players with customizable sprites, pickups that can be used for score, and ideally some kind of scripting language to control the flow of the level, although this may be beyond the scope of this project.</p>

<p>In terms of the gameplay, he agrees with me and Alfie that the movement should be smooth "gamey" movement rather than the more realistic style that is popular at the moment.</p>

<h3>Resources: </h3>
<p>There is very little required to make a game in terms of resources. I will be using:</p>

<ul>
<li>My home computer (already owned)</li>
<li>Microsoft Visual Studio 2015 Community (free download): IDE, C++ Compiler</li>
<li>Paint.net (free download): Sprite editing</li>
<li>Git (free download) &amp; Github (free account): Version control and hosting</li>
</ul>

<h3>Requirements</h3>
<p>Based off this fist set of stakeholder feedback as well as my background research and prior knowledge I have compiled a list of requirements for the game.</p>

<h4>Engine</h4>
<p>These requirements are specific to the game engine, and not the game itself: gameplay etc are not taken into account.</p>
<ul>
	<li>
		<strong>A fast 2D renderer:</strong> This means a renderer which can render a busy level (200 sprites), in <abbr title="1920x1080 resolution">1080p</abbr> at at least 60 <abbr title="Frames per Second">FPS</abbr> on my PC (Intel Core&trade; i7 4790K @ 4.0 GHz), as well as support options to reduce teh graphical fidelity (including resolution) for people with slower machines.
	</li>
	<li>
		<strong>An input system:</strong> The game needs to be able to take input from a keyboard and mouse or gamepad in order to control the player character as well as interact with the <abbr title="Graphical User Interface">GUI</abbr>.
	</li>
	<li>
		<strong>A physics engine:</strong> The physics engine needs to be able to do basic collision detection, as well as handle gravity and movement in a way that feels natural and good to play. As an objective requirement: The player and entities should fall due to gravity onto collidable platforms, objects should not be able to move through walls, and movement should have acceleration and decelleration instead of being a simple boolean moving at max speed or still.
	</li>
	<li>
		<strong>Level System:</strong> Levels should be able to be loaded from disk, and should be very large. As a baseline the level should be at least 8192x8192 32x32px blocks in size.
	</li>
	<li>
		<strong>Entity System:</strong> The game needs to support many game objects in the level at once without slowing down too much. The game should be able to render 32 game objects (including player, enemies and pickups) on the screen at one time while still meeting the framerate goal shown above. Each entity shouls be updated and drawn each frame. What is involved in each of these steps depends on the object in question, for example a player might take input and move based off it, while an enemy might execute AI code or a pickup might check if it has been picked up.
	</li>
</ul>

<h4>Gameplay</h4>

//TODO: This

<h3>Program Plan</h3>

Program flow:


<h3>The Finished Product</h3>
<p>The game engine is now done. Some game work is still to be done (on levels and sprites etc). Here is a video demonstrating compliance with the requirements.</p>
<div class="embed-responsive embed-responsive-16by9">
<video  controls src="http://fs.abscission.net/rilwal/2015-10-09_03-11-51.mp4">
</video>
</div>

<ul>
	<li>
		<strong>A fast 2D renderer:</strong> 
		<cite>This means a renderer which can render a busy level (200 sprites), in <abbr title="1920x1080 resolution">1080p</abbr> at at least 60 <abbr title="Frames per Second">FPS</abbr> on my PC (Intel Core&trade; i7 4790K @ 4.0 GHz), as well as support options to reduce teh graphical fidelity (including resolution) for people with slower machines.</cite>

		<p>This is completed: The shown demo has well over the stated 200 sprites, and the framerate is much higher than 60. The recording looks jerky because of the overhead of recording itself, but the framerate is very high. Here is a sample of framerate data taken from the game during the demo: </p>

		<pre>211.505922 fps
199.322304 fps
225.073149 fps
254.647313 fps
191.058464 fps</pre>
		
		<p>This clearly demonstrates that the renderer is fast enough to deal with most loads &em; it is an intensive level that displays more than this on the screen at onece.</p>

	</li>
	<li>
		<strong>An input system:</strong> 
		<cite>The game needs to be able to take input from a keyboard and mouse or gamepad in order to control the player character as well as interact with the <abbr title="Graphical User Interface">GUI</abbr>.</cite>

		<p>This is also completed: The game takes keyboard and mouse input in order to move the player around durign the demo, as well as to place and remove blocks from the level.</p>

	</li>
	<li>
		<strong>A physics engine:</strong> 
		<cite>The physics engine needs to be able to do basic collision detection, as well as handle gravity and movement in a way that feels natural and good to play. As an objective requirement: The player and entities should fall due to gravity onto collidable platforms, objects should not be able to move through walls, and movement should have acceleration and decelleration instead of being a simple boolean moving at max speed or still.</cite>

		<p>This too is done. This is demonstrated by the way I don't fall through the floor, as well as the way I am able to move fluidly with acceleration instead of instantly being at max speed. I collide with objects and am subjected to gravity.</p>
	</li>
	<li>
		<strong>Level System:</strong> 
		<cite>Levels should be able to be loaded from disk, and should be very large. As a baseline the level should be at least 8192x8192 32x32px blocks in size.</cite>

		<p>The level shown was loaded from disk. Levels are able to be up to 262144x262144 blocks. This is well beyond my initial expectaions, however a level that size isn't physically possible due to memory limitations. I have tested levels up to 10000 blocks long though.</p>
	</li>
	<li>
		<strong>Entity System:</strong>
		<cite>The game needs to support many game objects in the level at once without slowing down too much. The game should be able to render 32 game objects (including player, enemies and pickups) on the screen at one time while still meeting the framerate goal shown above. Each entity shouls be updated and drawn each frame. What is involved in each of these steps depends on the object in question, for example a player might take input and move based off it, while an enemy might execute AI code or a pickup might check if it has been picked up.</cite>

		<p>This is easily doable, however it will need to wait for another demo! This particular demo has 12 entities: 1 player, 1 enemy and 10 pickups. The enemied line of site as well as the gems pick up functions are shown, demonstrating the differnt update and draw functions.</p>
	</li>
</ul>