
<h1>Planning</h1>
<p>The first phase of making any large application successful is planning.</p>
<img style="transition: .1s linear all; width: 800px; height: 600px;" id="plan">
<map name="titlemap">
	<area shape="rectangle" coords="45,410,180,446" href data-target="levelselect">
	<area shape="rectangle" coords="45,455,180,500" href data-target="options">
	<area shape="rectangle" coords="45,515,180,555" href id="quit">
</map>
<map name="levelselectmap">
	<area shape="rectangle" coords="33,27,133,127" href data-target="home">
	<area shape="rectangle" coords="48,161,208,321" href data-target="level">
</map>
<map name="levelmap">
	<area shape="rectangle" coords="700,500,785,545" href data-target="levelfinish"></area>
</map>
<map name="winmap">
	<area shape="rectangle" coords="437,228,756,283" href data-target="level">
	<area shape="rectangle" coords="437,306,756,361" href data-target="levelselect">
	<area shape="rectangle" coords="437,380,756,435" href data-target="level">
</map>
<map name="optionsmap">
	<area shape="rectangle" coords="33,27,133,127" href data-target="home">
	<area shape="rectangle" coords="84,377,331,432" href data-target="controls"></area>
</map>
<map name="controlsmap">
	<area shape="rectangle" coords="33,27,133,127" href data-target="options">
</map>
